<?xml version="1.0" encoding="utf-8"?>
<Content Key="89efe061-8112-4bed-90cd-28ef998de5d2" Alias="Avtentikacija" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Avtentikacija</Path>
    <Trashed>false</Trashed>
    <ContentType>pageAuth</ContentType>
    <CreateDate>2026-06-18T17:36:02</CreateDate>
    <NodeName Default="Avtentikacija" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>