<?xml version="1.0" encoding="utf-8"?>
<Content Key="a1b2c3d4-5e6f-7a8b-9c0d-1e2f3a4b5c6d" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>pageHome</ContentType>
    <CreateDate>2026-06-12T12:00:00</CreateDate>
    <NodeName Default="Home">
      <Name Culture="en-US">Home</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="1f7021cf-8636-4dd4-a9bd-764f2e560acd">PageHome</Template>
  </Info>
  <Properties>
    <contentBlocks>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </contentBlocks>
    <doNotFollow>
      <Value Culture="en-US"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-US"><![CDATA[0]]></Value>
    </doNotIndex>
    <hideFromSearch>
      <Value Culture="en-US"><![CDATA[0]]></Value>
    </hideFromSearch>
    <intro>
      <Value Culture="en-US"><![CDATA[Welcome to our site. You will be redirected to Sliki.]]></Value>
    </intro>
    <ogDescription>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </ogTitle>
    <searchKeywords>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </seoMetaTitle>
    <title>
      <Value Culture="en-US"><![CDATA[Home]]></Value>
    </title>
    <twitterDescription>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </twitterImage>
    <twitterTitle>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </twitterTitle>
    <umbracoNaviHide>
      <Value Culture="en-US"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>