<?xml version="1.0" encoding="utf-8"?>
<Content Key="f1e9763c-446a-46cc-bd32-0548f499ceab" Alias="Sliki" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Sliki</Path>
    <Trashed>false</Trashed>
    <ContentType>pageHome</ContentType>
    <CreateDate>2026-03-13T18:50:23</CreateDate>
    <NodeName Default="Sliki">
      <Name Culture="en-US">Sliki</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="1f7021cf-8636-4dd4-a9bd-764f2e560acd">PageHome</Template>
  </Info>
  <Properties>
    <contentBlocks>
      <Value Culture="en-US"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "a0d84c5e-58d7-4a55-902a-56af0cd19bd2",
      "key": "4e822bb7-2f5a-4c35-89a8-a94b7d996af5",
      "values": [
        {
          "alias": "title",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Upload images to Sliki"
        },
        {
          "alias": "introduction",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Select one or more supported images and send them to the private sliki blob container."
        }
      ]
    },
    {
      "contentTypeKey": "c9b5ecfd-8c55-4f25-bba9-a1f7e28b6b70",
      "key": "c3b41f7b-fc8e-4d6f-aeff-74c50bb3bf2d",
      "values": [
        {
          "alias": "title",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Browse uploaded images"
        },
        {
          "alias": "introduction",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Search, sort, preview, and page through every image currently stored in Sliki."
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "key": "b7c9602d-a86c-4060-9539-a0fcfb5b4df6",
      "values": []
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "key": "40ff58df-8cf6-41ef-bd2b-fb85b0724175",
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "4e822bb7-2f5a-4c35-89a8-a94b7d996af5",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "c3b41f7b-fc8e-4d6f-aeff-74c50bb3bf2d",
      "culture": "en-US",
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "4e822bb7-2f5a-4c35-89a8-a94b7d996af5",
        "contentUdi": null,
        "settingsKey": "b7c9602d-a86c-4060-9539-a0fcfb5b4df6",
        "settingsUdi": null
      },
      {
        "contentKey": "c3b41f7b-fc8e-4d6f-aeff-74c50bb3bf2d",
        "contentUdi": null,
        "settingsKey": "40ff58df-8cf6-41ef-bd2b-fb85b0724175",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentBlocks>
    <doNotFollow>
      <Value Culture="en-US"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-US"><![CDATA[0]]></Value>
    </doNotIndex>
    <hideFromSearch>
      <Value Culture="en-US"><![CDATA[0]]></Value>
    </hideFromSearch>
    <intro>
      <Value Culture="en-US"><![CDATA[asdasdsads]]></Value>
    </intro>
    <ogDescription>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </ogTitle>
    <searchKeywords>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </seoMetaTitle>
    <title>
      <Value Culture="en-US"><![CDATA[asdasdasda]]></Value>
    </title>
    <twitterDescription>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </twitterImage>
    <twitterTitle>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </twitterTitle>
    <umbracoNaviHide>
      <Value Culture="en-US"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>