<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e224862c-99d5-4557-b2d3-55ed81e0e899" Alias="Block List - Video CMS Sources" Level="1">
  <Info>
    <Name>Block List - Video CMS Sources</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "8ca1e79d-6971-4ed8-8104-b4e1ed6e41d4",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{sourceSize \u0026\u0026 sourceSize[0]}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "maxPropertyWidth": "100%",
  "useInlineEditingAsDefault": true,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {
    "max": null,
    "min": 1
  }
}]]></Config>
</DataType>