<?xml version="1.0" encoding="utf-8"?>
<DataType Key="057e9fe1-9da4-475f-b61b-dac649222bb8" Alias="Dropdown - Video Source Size" Level="1">
  <Info>
    <Name>Dropdown - Video Source Size</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "360p",
    "720p",
    "1080p",
    "240p",
    "1440p (2K)",
    "2160p (4K)"
  ],
  "multiple": false
}]]></Config>
</DataType>