<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cb9b6a49-a32c-4c27-a71e-e537c7de357d" Alias="Dropdown Mailing" Level="1">
  <Info>
    <Name>Dropdown Mailing</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "ExampleEmail",
    "ContactFormEmail"
  ],
  "multiple": false
}]]></Config>
</DataType>