<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2a5188a6-bf03-4b72-b4c4-4aa5f8e76a4b" Alias="Video Picker" Level="1">
  <Info>
    <Name>Video Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "crops": null,
  "enableLocalFocalPoint": false,
  "filter": "f6c515bb-653c-4bdc-821c-987729ebe327",
  "ignoreUserStartNodes": false,
  "multiple": false,
  "startNodeId": null,
  "validationLimit": {
    "max": 1,
    "min": null
  }
}]]></Config>
</DataType>