<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="13cbbf38-d49f-404e-a928-bc613bb025b3" Alias="pageAuth" Level="1">
  <Info>
    <Name>Authentication Page</Name>
    <Icon>icon-lock</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A page where users enter an access code to authenticate.</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>