<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c9b5ecfd-8c55-4f25-bba9-a1f7e28b6b70" Alias="nestedBlockSlikiGallery" Level="2">
  <Info>
    <Name>Nested Block Sliki Gallery</Name>
    <Icon>icon-picture color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup><PreventCleanup>False</PreventCleanup><KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays><KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays></HistoryCleanup>
    <Folder>Nested+Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty><Key>28c712d0-cad7-45a3-8cc9-f3564dbcfbbb</Key><Name>Title</Name><Alias>title</Alias><Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition><Type>Umbraco.TextBox</Type><Mandatory>false</Mandatory><Validation></Validation><Description><![CDATA[]]></Description><SortOrder>0</SortOrder><Tab Alias="content">Content</Tab><Variations>Culture</Variations><MandatoryMessage></MandatoryMessage><ValidationRegExpMessage></ValidationRegExpMessage><LabelOnTop>false</LabelOnTop></GenericProperty>
    <GenericProperty><Key>be93fd2f-95d1-4e57-aefe-d9ee5bca09b1</Key><Name>Introduction</Name><Alias>introduction</Alias><Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition><Type>Umbraco.TextBox</Type><Mandatory>false</Mandatory><Validation></Validation><Description><![CDATA[]]></Description><SortOrder>1</SortOrder><Tab Alias="content">Content</Tab><Variations>Culture</Variations><MandatoryMessage></MandatoryMessage><ValidationRegExpMessage></ValidationRegExpMessage><LabelOnTop>false</LabelOnTop></GenericProperty>
  </GenericProperties>
  <Tabs><Tab><Key>7145fe0d-f529-4615-afbd-197ab9df8a33</Key><Caption>Content</Caption><Alias>content</Alias><Type>Group</Type><SortOrder>0</SortOrder></Tab></Tabs>
</ContentType>
